body {
  font-family: Palatino;
  margin: auto;
  padding: 25px 25px;
}

#form-wrapper {
  display: flex;
  justify-content: centre;
  padding: 5px 5px:
}

.form-item {
  margin: auto 5px;
}

input {
  margin: 10px 0;
}

button {
  margin: 10px 0;
}
